In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('EDA_Gold_Silver_prices.csv')

In [3]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [4]:
corr = df['SilverPrice'].corr(df['GoldPrice'])

In [5]:
corr

0.9542559570539786

In [6]:
corr = (df['GoldPrice']).corr(df['SilverPrice'])

In [7]:
corr

0.9542559570539786

In [8]:
df.dtypes

Month           object
SilverPrice    float64
GoldPrice      float64
dtype: object

In [9]:
def extract_year(x):
    x = str(x)
    return x.split('-')[-1]

In [10]:
df['Year'] = df['Month'].apply(extract_year)

In [11]:
df.head(10)

    Month  SilverPrice  GoldPrice Year
0  Mar-97       186.48   12619.24   97
1  Apr-97       170.65   12338.59   97
2  May-97       170.44   12314.94   97
3  Jun-97       169.96   12202.78   97
4  Jul-97       155.80   11582.07   97
5  Aug-97       162.16   11640.38   97
6  Sep-97       172.13   11755.57   97
7  Oct-97       181.57   11769.89   97
8  Nov-97       187.99   11370.19   97
9  Dec-97       224.16   11324.79   97

In [12]:
df_2008 = df[df['Year']=='08']

In [13]:
df_2008['Year'].unique()

array(['08'], dtype=object)

In [16]:
df_2008

      Month  SilverPrice  GoldPrice Year
130  Jan-08       632.29   35025.78   08
131  Feb-08       701.87   36642.46   08
132  Mar-08       775.49   39082.77   08
133  Apr-08       700.96   36416.00   08
134  May-08       718.20   37435.38   08
135  Jun-08       729.63   38087.88   08
136  Jul-08       773.80   40256.56   08
137  Aug-08       625.97   36026.85   08
138  Sep-08       555.58   37815.02   08
139  Oct-08       507.20   39235.79   08
140  Nov-08       483.55   37284.82   08
141  Dec-08       501.82   39696.27   08

In [14]:
corr_08 = (df_2008['GoldPrice']).corr(df_2008['SilverPrice'])

In [15]:
corr_08

0.0095837574633694