In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("Inferential Statistics - Student Loan.csv")

In [26]:
df.head(5)

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [27]:
df['Recovery (%)']

0       20.00%
1        5.10%
2       24.86%
3        2.29%
4        3.47%
         ...
9995    20.19%
9996    38.38%
9997    28.40%
9998    37.37%
9999    22.55%
Name: Recovery (%), Length: 10000, dtype: object

In [28]:
df['Recovery (%)'] = df['Recovery (%)'].apply(lambda x : float(x.replace('%','')))

In [35]:
df['expected_loss'] = (df['Exposure at Default (in lakh Rs.)']*(1-(df['Recovery (%)']/100))*(df['Probability of Default']))

In [37]:
df['expected_loss']

0       0.064400
1       0.000752
2       0.000066
3       0.089059
4       0.038303
          ...
9995    0.124776
9996    0.076806
9997    0.028691
9998    0.085192
9999    0.000074
Name: expected_loss, Length: 10000, dtype: float64

In [38]:
df['expected_loss'].sum()

493.39131440619997